

#image-div {
    float: right;
    margin-left: 10px;
}

.theme-color {
    background-color: rgb(55, 81, 129);
    color: white;
}

.text-color {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 242, 242);
    margin-top: 20px;
}

button {
    margin: 10px;
}

.button-reset {
    background-color: rgb(247, 202, 160);
    color: white;
}

.float-right {
    float: right;
}

