

form div {
    margin-top: 15px;
  }

form label {
    font-weight: 500;
  }

#customerAccountHeader {

    border-radius: 3px;
    background-color: #428bca;
    margin-top: 15px;
    color: white;
  }

footer {
    float: right;
    /* position: fixed;
    bottom: 0;
    right: 0; */
    margin-top: 20px;
    font-family: monospace;
}

.color-white {
    color: white;
}

.background-color-blue {
    background-color: #428bca;
}
